@model PYME.Models.Usuario

<h2>Crear Usuario</h2>

<form asp-action="Crear" method="post">
    <div class="row mb-3">
        <div class="col-md-6">
            <label>Contraseña</label>
            <input name="password" type="password" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <input asp-for="Nombre" class="form-control" placeholder="Nombre" />
        </div>
        <div class="col-md-4">
            <input asp-for="Primer_Apellido" class="form-control" placeholder="Primer Apellido" />
        </div>
        <div class="col-md-4">
            <input asp-for="Segundo_Apellido" class="form-control" placeholder="Segundo Apellido" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label>Rol</label>
            <select name="rol" class="form-select">
                <option value="">Seleccione un rol</option>
                @foreach (var rol in ViewBag.Roles as List<string>)
                {
                    <option value="@rol">@rol</option>
                }
            </select>
        </div>

        <div class="col-md-6">
            <input asp-for="Email" class="form-control" placeholder="Correo" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <input asp-for="Telefono" class="form-control" placeholder="Teléfono" />
        </div>

        <div class="col-md-6">
            <input asp-for="Direccion_Exacta" class="form-control" placeholder="Dirección" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12">
            <input asp-for="Estado" type="checkbox" /> Activo
        </div>
    </div>

    <button class="btn btn-primary">Guardar</button>
</form>