@model PYME.Models.Usuario

<h2>Editar Usuario</h2>

<form asp-action="Editar" asp-route-id="@Model.Id" method="post" class="row g-3">

    <input type="hidden" asp-for="Id" />

    <div class="col-md-6">
        <input asp-for="UserName" class="form-control" />
    </div>

    <div class="col-md-6">
        <input name="password" type="password" class="form-control" placeholder="Nueva contraseña" />
    </div>

    <div class="col-md-4">
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="col-md-4">
        <input asp-for="Primer_Apellido" class="form-control" />
    </div>

    <div class="col-md-4">
        <input asp-for="Segundo_Apellido" class="form-control" />
    </div>

    <div class="col-md-6">
        <label>Rol</label>
        <select name="rol" class="form-select">
            @foreach (var rol in ViewBag.Roles as List<string>)
            {
                <option value="@rol">@rol</option>
            }
        </select>
    </div>

    <div class="col-md-6">
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="col-md-6">
        <input asp-for="Telefono" class="form-control" />
    </div>

    <div class="col-md-6">
        <input asp-for="Direccion_Exacta" class="form-control" />
    </div>

    <div class="col-12">
        <input asp-for="Estado" type="checkbox" /> Activo
    </div>

    <button class="btn btn-primary">Guardar</button>
</form>